@use '../global/' as g;

html {
  height: 100%;
  font-size: 62.5%;
}

body {
  height: 100%;
  font-size: 1.6rem;
}

img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
  background: transparent;
  border: none;
}

a {
  text-decoration: none;
  display: block;
}
